
.page__service{
margin: 10px 0px 91px;
}
.page__statement{
    margin: 84px 0px;
}
.page__service_grey{
margin-bottom: 44px;
}

.page__footer{
    padding-top: 42px;
    background: #F8F8F8;
}
.page__number{
    margin-top: 108px;  
}
.page__content{
    max-width: 1500px;
    margin: 0px auto;
}

@media (max-width:1024px) {
    .page__number{
        margin: 56px 0px 60px;
    } 
    .page__number_background{
margin-bottom: 0px;
    }
    .page__design{
        margin-bottom: 70px;
    }
}